footer.footer
  .container
    .row
      .appStarter.col-lg-1.col-md-2.col-sm-4 AppStarter
      .container.col-lg-10.col-md-8.col-sm-4
        .row
          .author.col-sm-12.text-center Created with&nbsp;
            i.fa.fa-heart(aria-hidden="true")
            span &nbsp;by&nbsp;
            span.author-name Sergey-Azovskiy
        .row
          .col-sm-12.footer__line.text-center &#64;AppStarter, 2017

      .footer__contacts.col-lg-1.col-md-2.col-sm-4
        .footer__contacts__icon
          a.twitter-icon(href="https://twitter.com")
            i.fab.fa-twitter(aria-hidden="true")
        .footer__contacts__icon
          a.facebook-icon(href="https://facebook.com")
            i.fab.fa-facebook(aria-hidden="true")
        .footer__contacts__icon
          a.instagram-icon(href="https://instagram.com")
            i.fab.fa-instagram(aria-hidden="true")
