section.about
  h2.title
    span.font-weight-bold How
    span does it work
  .row
  ul.about__list
    li.about__item.col-lg-3
      .icon.icon__sync
      h3.about__header Sync across all devices
      p.about__description This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.
      a.about__video_link(href="#") Watch video

    li.about__item.col-lg-3
      .icon.icon__inbox
      h3.about__header All emails in one place
      p.about__description This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.
      a.about__video_link(href="#") Watch video

    li.about__item.col-lg-3
      .icon.icon__bell
      h3.about__header Notifications about sales
      p.about__description This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.
      a.about__video_link(href="#") Watch video
