section.download
  .row.align-content-center
    .col-lg-6
      p
        span.font-weight-bold  Download
        span to get started
      p This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
    .col-lg-6.text-center
      .download__button-group
        button.btn.col-lg-4.backgraund-gradient(type="button").m-3  By for $24
        button.btn.col-lg-4(type="button").m-3  Try it Free
