section.sect_form
  .div-center
    .display-4
      span.font-weight-bold Stay&nbsp;
      span in touch
    .display-5
      span This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
    form( "#f"="ngForm"  novalidate)
      .row
        .col-lg-6.mb-1
          input(id="name" ,name="name" , placeholder="Your Name" ,type="input","[(ngModel)]"="model.Name", "#name"="ngModel" ,required).form-control.form_item
          span(*ngIf="f.submitted && !name.valid")  Name is required
        .col-lg-6.mb-1
          input(id="email", name="email" , placeholder="Email Address", type="email", "[(ngModel)]"="model.email" ,"#email"="ngModel",required, pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$").form-control.form_item
          span(*ngIf="f.submitted && !email.valid")  Invalid email address
      .row
        .col-lg-6.mb-1
          select(id="country" "(click)" = "getCities(" + value + ")").form-control.form_item
            option("*ngFor"="let country of countries ") {{country.name}}
        .col-lg-6.mb-1
          select(id="city" ).form-control.form_item
            option("*ngFor"="let city of cities") {{city.name}}
      .row
        .col-lg-12.mb-1
          textarea.form-control(rows=5, name="comment","[(ngModel)]"="model.comment" ,"#comment"="ngModel", required).form-control.form_item
          span(*ngIf="f.submitted && !comment.valid")  Comment is required
      button.btn.btn-primary(type="submit").m-3.backgraund-gradient Send Message

