section.styles
  .styles__container
    .row
      .col-lg-6.item1
      .col-lg-6.item23
        .display-4.styles__flex_box.text-center
          span.font-weight-bold Perfect&nbsp;
          span landing page
          p for your app
          small This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
    .row
      .col-lg-6.item23
        .display-4.styles__flex_box.text-center
          span.font-weight-bold Style guide&nbsp;
          span  and
          p sample pages included
          small This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
      .col-lg-6.item4
