section.video
  .video__content
    .display-4.video__flex_item
      span.font-weight-bold Watch&nbsp;
      span video tour
    .display-5.video__flex_item
      span This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her.
    .video__flex_item.video__button
  video(playsinline="playsinline", id="videoTour" ,muted=true, loop="loop",autoplay=false )
    source(src="../../assets/mp4/Video.mp4" type="video/mp4")
  .overlay("(click)"="setBool()")

