section.forum
  .row
    .col-lg-4.col-md-6.col-sm-12.forum__inform_block
      .forum__inform_block__header
        .stars
        .display-4
          span.font-weight-bold Customers&nbsp;
          p about AppStarter
      .forum__inform_block__footer
        h5 Read more reviews:
        ul
          li App Store
          li Google Play
    .col-lg-8.col-md-6.col-sm-12.forum__forum
      .media.border.p-3
        img(src="../../assets/images/Avatar.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;")
        .media-body
          p.font-italic This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.
          hr
          .row
            .col-lg-11.col-md-11.col-sm-11
              span.font-weight-bold Eliza Paul
              span - Web Designer
            .col-lg-1.col-md-1.col-sm-1
              i.fab.fa-twitter(aria-hidden="true")
      .media.border.p-3
        img(src="../../assets/images/Avatar2.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;")
        .media-body
          p.font-italic This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.
          hr
          .row.flex-column-reverse.flex-lg-row
            .col-lg-1.col-md-1.col-sm-1
              i.fab.fa-twitter(aria-hidden="true")
            .col-lg-11.col-md-11.col-sm-11.text-right
              span.font-weight-bold Juan Richards
              span - Photographer
      .media.border.p-3
        img(src="../../assets/images/Avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;")
        .media-body
          p.font-italic This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.
          hr
          .row
            .col-lg-11.col-md-11.col-sm-11
              span.font-weight-bold Marian McGuire
              span - Entrepreneur
            .col-lg-1.col-md-1.col-sm-1
              i.fab.fa-twitter(aria-hidden="true")
